.outer-container{
	position: absolute;
	width: 100%;
	height: 20%;
	top: 20%;
}
.container-me{
	margin: 0 auto;	
	width: 20%;
	position: relative;
	background: blue;
}
.me{
	width: 100%;
	position: absolute;
}
#ctr{
	z-index: 2;
}
#inner{
	z-index: 3;
}
#outer{
	z-index: 4;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#inner
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}


#outer
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}


div.about{
	font-size: 18px;
	color: black;
	width: 100%;
	padding: 0 5% 3% 5%;
}
h1.about{
	text-align: left;
	font-family: "century gothic";
	font-size: 50px;
	font-weight: normal;
	margin: 100px 0 25px 0;
}
a{
	color: #5a87ce;
}

div.icons {
	position: absolute;
	width: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
	padding: 20px;
	margin: 0 auto;
	margin-top: -17%;
	z-index: 1;
}
img.icon{
	width: 10%;
}

#GH{
	width: 11%;
}
#YT{
	width: 13%;
}
a.icon{
	margin: 0 4%;
}

div.orgs{
	margin: 0 auto;
}
img.org{
	width: 12.5%;
	margin: 0 3.5%;
}
#organizations{
	text-align: center;
	font-family: "MyriadPro";
}
#details{
	text-align: center;
	font-family: "MyriadPro";
	margin-bottom: 3%;
}

div.filler{
	height: 480px;
	padding-top: 1.5%;
}

div.hover{
	display: none;
	margin: 0 3.5%;
	font-size: 15px;
	width: 60%;
}

@media(max-width: 1500px){
	.outer-container{
		top: 15%;
	}
}

@media(max-width: 1100px){
	.outer-container{
		top: 12%;
	}
}

@media (max-width: 768px){
	img.org{
		width: 15%;
		margin: 0 2%;
	}
	div.hover{
		width: 90%;
		font-size: 15px;
	}
	div.icons{
		width: 200px;
	}
	.outer-container{
		top: 9.5%;
	}
	#organizations{
		font-size: 20px;
	}
	div.about{
		font-size: 15px;
	}
}
