*{
	padding: 0;
	margin: 0;
		}

body{
		background: #ccccff;
	}

div.name{
	display: block;
	text-align: center;
	margin-top: 80px;
	font-family: "century gothic";
	font-weight: bold;
	font-size: 100px;
	color: #444;
	color: black;
}
div.details{
	display: block;
	font-family: "century gothic";
	text-align: center;
	color: white;
	font-size: 20px;
	padding-top: 12px;
}

img{
	width: 40%;
	height: auto;
	display: block;
	padding-top: 120px;
}

img.me{
	margin-top: -80px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: auto;
}



div.graphic1{
	background: #333;
	margin-top: 150px;
	height: 750px;
}
img.overlay{	
	float: left;
	margin-left: 100px;
	margin-right: auto;
	min-width: 300px;
}
div.overlay{
	display: inline;
	float: right;
}
h1.overlay{
	padding-top: 300px;
	color: white;
	font-family: "century gothic";
	text-align: center;
}
p.overlay{
	font-family: "century gothic";
	text-align: center;
	color: #d9d9d9;
	padding: 15px 50px 0 670px;
}


div.graphic2{
	background: white;
	height: 750px;
}
img.dailybruin{
	float: right;
	margin-right: 100px;
	margin-left: auto;
	width: 55%;
	padding-top: 125px;
}
div.dailybruin{
	display: inline;
	float: left;
}
h1.dailybruin{
	text-align: center;
	margin-left: 10px;
	padding-top: 300px;
	font-size: 28px;
	color: black;
	font-family: "century gothic";
}
p.dailybruin{
	margin-top: 1%;
	padding: 0 67% 0 3%;
	text-align: center;
	font-size: 15px;
	color: #777;
	font-family: "century gothic";
}


div.graphic3{
	background: #e6f3ff;
	background: #ccffff;
	height: 720px;
}
div.familytakeover{
	display: block;
}
h1.familytakeover{
	padding-top: 60px;
	text-align: center;
	color: black;
	font-family: "century gothic";
}
p.familytakeover{
	padding: 0 5%;
	text-align: center;
	color: #666;
	font-family: "century gothic";
}
img.familytakeover{
	margin: 50px auto;
	width: 90%;
	padding: 0;
}


div.graphic4{
	background: black;
	height: 750px;
}
img.assassins{
	display: inline;
	float: left;
	padding-top: 90px;
	margin-left: 70px;
	margin-right: auto;
	width: 45%;
}
div.assassins{
	display: inline-block;
	float: right;
}
h1.assassins{
	padding-top: 300px;
	text-align: center;
	color: white;
	font-family: "century gothic";
}
p.assassins{
	padding-top: 10px;
	padding-right: 40px;
	padding-left: 680px;
	text-align: center;
	color: #d9d9d9;
	font-family: "century gothic";
}

footer {
	background: black;
	float: bottom;
	font-family: "Century Gothic";
	font-size: 15px;
	color: white;
	padding-bottom: 20px;
	height: 15px;
}