<<<<<<< HEAD
@font-face{font-family: 'MyriadPro'; src: url(Fonts/MyriadPro-Regular.otf) format('opentype');}
@font-face{font-family: 'Pasajero'; src: url(Fonts/Pasajero.otf) format('opentype');}
@font-face{font-family: 'AvantGarde'; src: url(Fonts/AvantGarde.ttf) format('truetype');}
@font-face{font-family: 'CenturyGothic'; src: url(Fonts/CenturyGothic.ttf) format('truetype');}

body{
	font-family: "MyriadPro";
	color: black;
	background: white;
	margin: 0;
	padding: 0;
}

nav.navbar{
	background: white;
	padding: none;
	margin: none;
	border: none;
}

img.logo{
	padding: 6px 0 ;
	height: 65px;
	margin-right: 10px;
	width: auto;
}

.navbar-default .navbar-nav > li > a {
  font-family: "AvantGarde";
  line-height: 35px;
  font-size: 21px;
  color: black;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #4c8de8;
}

 img.home{
	width: 100%;
	margin-top: -19px;
}

nav.navbar{
	padding-left: 15px;
	font-size: 20px;
}

=======
body{
	font-family: tahoma;
	color: black;
	background: white;
}

header.navbar{
	padding: 0;
	margin: 0;
}

.navbar-default{
	border: none;
}

nav.navbar{
	background: white;
	padding: none;
	margin: none;
}

img.logo{
	padding: 2px 0 2px 0;
	margin: 0;
	margin-right: 10px;
	height: 65px;
	width: auto;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: #eaf2ff;
	color: white;
	background: #b7c7ff;
	font-style: italic;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
}

img.name{
	width: 600px;
}
img.me{
	display: block;
	margin: 0 auto;
	width: 220px;
	height: auto;
}

nav.navbar{
	padding-left: 10px;
	font-size: 20px;
}

a{
	margin: 5px 5px 0px 5px;
	background: #eaf2ff;
	outline-width: 0px;
	outline-style: solid;
	outline-color: black;
	color: black;
}
>>>>>>> origin/master

a.logo{
	border: none;
	outline: none;
	background: white;
}

<<<<<<< HEAD
h1{
	font-family: CenturyGothic;
	font-size: 40px;
	padding: none;
=======
a{
	background: white;
>>>>>>> origin/master
}