
body{
	background: white;
	color: black;
}

h1{
	color: black;
	margin-bottom: 50px;
	padding: 0;
}

h2{
	font-size: 60px;
	font-family: "century gothic";
}

div.class{
	background: #f2f2f2;
	text-align: center;
	padding: 20px;
	margin-bottom: 15px;
}

a.class{
	background: #f2f2f2;
	color: blue;
	font-size: 15px;
}

a.ff{
	font-size: 14px;
}