nav.navbar{
	border-bottom: solid;
	border-bottom-width: 0.5px;
}

body{
	background: #002663;
}

div.intro{
	width: 60%;
	margin: 3% auto;
	text-align: center;
	color: white;
}

#master{
	margin: 0 4%;
}

div.container{
	text-align: center;
	padding: 1%;
	color: black;
}

div.class{
	margin: 2%;
	padding: 0.5%;
	height: 165px;
	background: #efefef;
}

h2{
	font-family: "AvantGarde";
	font-size: 40px;
}

h3{
	font-size: 15px;
	margin-top: -3px;
}

div.left, div.right{
	width: 50%;
	margin: -2.5% 0;
	padding: 0;
}

div.left{
	float: left;
	padding-left: 10%;
}

div.right{
	float: right;
	padding-right: 10%;
}

a.ln{
	color: #1c58bc;
}

h4{
	font-family: "AvantGarde";
	font-size: 20px;
}

a.ln:hover{
	color: #b7d2ff;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: 0.3s ease;
  text-decoration: none;
}

@media (max-width: 768px){
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 12px;
	}
	h4{
		font-size: 15px;
	}
	div.class{
		height: 145px;
	}
}

@media (max-width: 500px){
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 10px;
	}
	h4{
		font-size: 12px;
	}
	div.class{
		height: 120px;
	}
}