div.bio{
	width: 70%; 
	margin: 4% auto 0 auto; 
	text-align: left;
} 

nav.navbar{
	border-bottom: solid;
	border-bottom-width: 0.5px;
}

h1{
	font-family: "CenturyGothic";
	font-size: 30px;
	text-align: left;
}


div.name{
	text-align: center;
	margin-top: 80px;
	font-weight: bold;
	font-size: 100px;
	color: black;
}
div.details{
	color: white;
	font-size: 20px;
}

img{
	display: block;
	height: auto;
}

/* //////////////   CAROUSEL  ///////////////////*/

/*/////////////// MODIFYING BOOTSTRAP START ///////////////////////*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control, .carousel-control:focus{
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  color: #555;
  text-align: center;
  opacity: 0.4;
}


.carousel-control:hover{
	opacity: 0.2;
}

.carousel-control.left:hover{
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.right:hover {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-indicators {
  position: relative;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: black;
}
/*/////////////// MODIFYING BOOTSTRAP END ///////////////////////*/
div.carousel-inner{
	height: 750px;
}

div.container{
	width: 55%;
	margin: 2% auto;
}

div.square{
	width: 40%;
}

img.graphic{
	width: 100%;
	margin: 0 auto;
}

img.square{
	width: 70%;
}

p.desc{
	font-size: 13px;
	text-align: left;
}

.post-ftc{ width: 60%; }
.graphtech-banner{  width: 80%; }
.welcome-weeks{ width: 75%; }
.wlc-logo{ width: 50%; }
div.bruin-day-cont{ width: 50%; }
img.bruin-day-img{ width: 45%; }

@media (max-width: 768px){
	h1{
		font-size: 18px;
	}
	div.bio{
		width: 90%;
		font-size: 14px;
		margin-bottom: 100px;
	}
	div.carousel-inner{
		height: 350px;
	}
	div.container{
		width: 85%;
		margin: 3% auto;
	}
	img.bruin-day-img{ width: 55%; }
}