/* --------------------------------
Committee pictures
-------------------------------- */
img.group{ //Group picture settings
  width: 100%;
}

div.profile{
  margin: 0;
  padding: 30px 0;
}

img.img-square{ //Individual pictures
  margin: 0 auto;
  width: 60%;
}

/* --------------------------------
Other
-------------------------------- */
#committeeTitle {
  max-width: 60%;
}

/* --------------------------------
Responsive
-------------------------------- */
@media only screen and (max-width: 576px) {
  #committeeImg {
    max-width: 100%;
  }
}