/* --------------------------------
Documents panels
-------------------------------- */
.download-bg {
  @extend #mini-nav;
  margin: 0 2% 2% 2%;
  border-radius: 10px;
  background-color: $sub-panel-color;
  border: 5px dashed white;
}

#download-req {
  background-color: $salmon;
}

.download-panel {
  background-color: $beige;
  padding: 3%;
  margin: 3%;
  align-content: left;
  border-radius: 10px;
  border: 3px solid transparent;
  /*&:hover {
    background-color: white;
    border: 3px solid $beige;
    color: $light-green;
  } */
}

.download-panel > a {
  color: black;
  text-decoration: underline;
  &:hover {
    color: $light-green;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: $yellow;
  border: 3px solid white;
}

.fa-plus {
  float: right;
  font-size: 25px;
  &:hover {
    color: $light-green;
  }
}

.fa-cart-arrow-down {
  font-size: 20px;
  padding-left: 10px;
  float: right;
}

.supplement {
  margin: 5%;
}

iframe {
  margin: 5% 0 5% 0;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

/* --------------------------------
Calendar
-------------------------------- */
#deadlineKey {
  background-color: $salmon;
  padding: 1%
}

#officeHourKey {
  background-color: $sky-blue;
  padding: 1%;
}

#specialKey {
  background-color: $yellow;
  padding: 1%;
}

#keyRow {
  padding: 3%;
}

.m {
  margin: {
    top: 5%;
    bottom: 5%;
  }
}

.DL {
  background: $salmon;
  color: white;
}

.OH {
  background-color: $sky-blue;
  color: white;
}

.special {
  background-color: $yellow;
  color: white;
}

ul.calendar {
  list-style-type: none;
}

/* Month header */
.month {
  font-family: "Scope One";
  padding: 15px 25px;
  width: 100%;
  background: #025939;
  text-align: center;
  line-height: 35px;
}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  padding: 0;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Weekdays (Sun-Sat) */
.weekdays {
  margin: 0;
  padding: 5px 0;
  background-color: #A0B82F;
}

.weekdays li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
  margin: 0 -2.5px 0 -2.5px;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #EAD1A1;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  z-index: 0;
  line-height: 25px;
  width: 14%;
  height: 200px;
  text-align: left;
  padding: 0 0.4% 0 0.7%;
  font-size: 14px;
  margin: 0 -2.5px -2px -2.5px;
  color: black;
  border: 1px solid white;
}

div.upperDL {
  height: 50%;
  background: $salmon;
  padding-left: 5%;
}

div.upperOH {
  @extend .upperDL;
  background: $sky-blue;
}

div.lowerOH {
  height: 50%;
  background: $sky-blue;
  padding-left: 5%;
}

div.lowerDL {
  @extend .lowerOH;
  background: $salmon;
}

div.trioOH {
  height:33.3%;
  background: $sky-blue;
  padding-left: 5%;
}

div.trioDL {
  @extend .trioOH;
  background: $salmon;
  padding-left: 5%;
}

li.faded {
  color: #b3b3b3;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

ul.calendar li p {
  margin-left: -3px;
  position: absolute;
  z-index: 1;
}

li.Other p {
  color: black;
  font-size: 15px;
}

/* --------------------------------
Responsive
-------------------------------- */
@media only screen and (max-width: 1000px) {
  li p{
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  li p{
    font-size: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .key {
    max-width: 100%;
  }

  #DL-OH {
    width: 100%;
  }

  /*.responsiveCal {
    position: relative;
    padding-bottom: 75%;
    height: 0;
  }

  .responsiveCal iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 200%;
    border: 5px solid $light-green;
  } */

  .download-bg {
    margin: 0 2% 2% 0%;
    padding: 8%;
  }

  .download-panel {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}