/* --------------------------------
Jumbotron section
-------------------------------- */
.jumbotron {
  height: 85vh;
  margin: 0;
    background: {
      //image: url(../Images/group.jpg);
      //color: $sky-blue;
      image: linear-gradient($salmon, #D35E2E);
      repeat: no-repeat;
      size: cover;
      position: 0% 20%;
    }
  padding: {
    left: 0;
    right: 0;
  }
}

#video { //Jumbotron video settings
  width: 100%;
  height: 75.6vh;
}

/*#welcome { //This is the backup jumbotron content incase FTC committee decides to remove the video from the website
  margin-top: 3%;
}

 #FTC-title {
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  border: 10px double white;
} */

.vl { //These are supposed to look like sticks that hold up signs
  height: 3em;
  width: 33%;
  border-left: 10px solid $sign-holders;
  border-right: 10px solid $sign-holders;
}

.sub-welcome {
  width: 40%;
  background-color: $sub-panel-color;
  padding: 1%;
  border: 8px double white;
  color: black;
}

#mini-nav { //The section with the 3 navigation buttons
  margin: 0;
  padding: 2%;
  background-color: $sub-panel-color2;
  border: 5px dashed white;
}

/* --------------------------------
Description section
-------------------------------- */
#landing-img {
  width: 75%;
  margin-top: 5%;
  border: 10px solid $sub-panel-color;
}

.dashedCarousel {
  border: 5px dashed white;
}

#pitch {
  margin-top: 5%;
}

#pitch-words {
  padding: 1%;
}

#deal {
  width: auto;
  //margin-top: 0;
  //margin-bottom: 0;
  min-width: 55%;
}

#pitch-btn {
  padding: 1.5% 10%;
  &:hover {
    background-color: $btn-hover;
  }
}

.card-title + hr {
  margin: {
    left: 0;
    right: 0;
  }
}

/* --------------------------------
Activity cards
-------------------------------- */
.activities {
  background-color: $sub-panel-color;
  color: white;
  margin: 2%;
  min-height: 450px;
}

.card-title {
  margin: 0;
  color: black;
}

#deal {
  max-width: 55%;
  margin-left: 0;
  margin-right: 0;
}

/* --------------------------------
Responsive
-------------------------------- */
@media only screen and (max-width: 576px) {
  #deal {
    min-width: 100%;
  }

  .jumbotron {
    height: 39vh;
    padding: 0;
    image: linear-gradient($salmon, #D35E2E);
  }

  .sub-welcome {
    width: 100%;
    padding: 5%;
  }

  #video {
    position: relative;
    top: 35%;
    height: auto;
  }

  #mini-nav {
    margin-top: 0;
    padding: 10%;
  }

  .home-btn {
    margin: {
      top: 5%;
      bottom: 5%;
    }
  }
}



