/* --------------------------------
Main
-------------------------------- */
html {
  margin-top: 4%;
}

body {
  background: url('../Images/groceryBG-light.jpg');
  background: {
    color: $yellow;
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

/* --------------------------------
Panels and Elements
-------------------------------- */
.card-img-top {
  max-height: 20em;
}

.btn {
  border-radius: 50px;
  background-color: $btn;
  border: 0;
  transition: all .2s ease;
  border: 3px double white;
  font-family: 'scope one';
  &:hover {
    color: black;
    background-color: $btn-hover;
    border: 3px solid white;
    transform: scale(1.01) perspective(1px);
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none; //disables blue border when clicking buttons
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: $btn;
  border-color: $btn;
}

.head-panel {
  background-color: $panel-color;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%); //Ribbon shape for headers
  border: 5px double white;
  width: auto;
  max-width: 40%;
  padding: 1%;
  margin: 1em;
  color: white;
}

.attach { //Removes margin from headers to make "sign holders" look like they're holding up the headers
  margin: {
    top: 0;
    bottom: 0;
  }
}

.paragraph-panel { //Surrounds paragraphs with a green background and dashed border
  color: white;
  background-color: $sub-panel-color;
  padding: 2%;
  border: 3px dashed white;
}

.card {
  border: 3px dashed white;
}

.grocery-head { //Removed by request
  //background-image: url('../Images/home-slideshow/crowd.jpg');
  //background-position: 0 55%;
  margin-bottom: 2%;
  //border-bottom: 10px solid $panel-color;
  padding: {
    top: 2%;
    bottom: 2%;
  }
}

.footer-panel {
  background-color: $footer;
  padding: 2%;
}

.footer {
  height: 300px;
  background: {
    image: url('../Images/footerShort.jpg');
    size: cover;
  }
}

#cnh {
  float: right;
  position: relative;
}

/* --------------------------------
Mobile
-------------------------------- */
@media only screen and (max-width: 576px) {
  html {
    margin-top: 10%;
  }

  .head-panel {
    min-width: 95%;
    margin-left: 0;
    margin-right: 0;
    padding: 3%;
  }

  .paragraph-panel {
    padding: 10%;
  }

  .footer {
    height: 100px;
  }

  .footer-panel {
    padding: 10%;
  }
}



