/* --------------------------------
Fonts
-------------------------------- */
//Headings
$primary1: 'milkshake';
$primary2: 'ostrich';

//Sub-headings
$sub1: 'market';
$sub2: 'Scope One';

//Paragraphs
$body: 'Rubik';

/* --------------------------------
Colors
-------------------------------- */

//Primary
$red: #C12228;
$orange: #F9A41D;
$yellow: #FECC4C;
$light-green: #A0B82F;
$turquoise: #0B7868;

//Secondary
$beige: #EAD1A1;
$sky-blue: #AFCAE3;
$salmon: #F48151;
$brown: #8D6542;
$forest-green: #025939;

/* --------------------------------
Applied colors
-------------------------------- */

/* Quickly experiment with website colors here */

//Header panels
$panel-color: $forest-green;
$sub-panel-color: $light-green;
$sub-panel-color2: $light-green;
$sign-holders: $brown;

//Footer
$footer: $salmon;

//Utilities
$btn: $forest-green;
$btn-hover: $yellow;
$navbar: $forest-green;

//Calendar
$cal-month: $forest-green;
$cal-day: $light-green;
$office-hour: $salmon;
$deadline: $sky-blue;